*
 {
    margin: 0;
    padding: 0;
 }

body
    {
        background-color: rgb(172, 170, 170);
    }

nav
   {
    color: white;
    background-color: rgb(87, 77, 77);
    padding: 20px;
    font-family: Arial;
    
   }

h1
  {
    font-family:'Times New Roman', Times, serif;
  }

li,ul,h1
        {
            display:inline; 
        }

ul
  {
    margin-left: 59%;
    cursor: pointer;
    
  }

li
  {
    padding: 15px;
    font-size: 12px;
    color: antiquewhite;
  }

li:hover
        {
            color: aquamarine;
        }

.Searchbar
          {
            padding:30px;
            margin-left:10%;
          }
input
     {
        width:80%;
        padding:10px
     }

img
   {
    width: 220px;
    height: 220px;
   }


.box1
     {
      padding: 30px;
      margin: 30px;
      border-width: 2px;
      border-style: solid;
      border-color: black;
      display: inline-block;
      width: 220px;
      height: 240px;
      margin-right: 100px;
      margin-top: 50px;
     }

.box1:hover
           {
            height: 300px;
            background-color: azure;
           }


.about h2
       {
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        color: black;
        padding: 10px;
        font-size: 20px;
        text-decoration: underline;
       }
        
.about p
           {
            text-align: justify;
            font-weight: normal;
            text-decoration:none;
            font-size: 15px;
            text-decoration: none;
           }

.Contact
        {
          padding: 40px;
          background-color: black;
          color: whitesmoke;
        }

.Contact 
          {
          padding: 40px;
          background-color: black;
          color: whitesmoke;
          text-align: center;
          }

.Contact ul li
            {
              display: block;
              padding-bottom: 5px;
            }

.Contact a
           {
            text-decoration: none;
            color: white;
            
           }
.Contact a:hover
                {
                  color:aquamarine;
                }

.Contact p
          {
            color: gray;
            font-size: 8px;
            text-align: justify;
          }